@model UploadWebApp.Models.FileData

@{ ViewData["Title"] = "Details"; }

<h1>Сведения о датасете</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContainsCyrillic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContainsCyrillic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContainsLatin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContainsLatin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContainsNumbers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContainsNumbers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContainsSpChar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContainsSpChar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">
        Редактировать
    </a> |
    <a asp-action="Index">Обратно к списку</a>
</div>
